/nbproject/private/
/CharityProject-war/nbproject/private/
/CharityProject-ejb/nbproject/private/
/CharityProject-war/build/
/CharityProject-ejb/dist/
/CharityProject-ejb/build/
/build/
/CharityProject-war/dist/